<h1>You chose the <%= session[:level_preference] %> <%= session[:quiz_preference] %> quiz.</h1>
</br>
</br>
<h2>Each question is worth 5 points.
</br>
There are 20 questions in each quiz.</h2>
</br>
</br>
<h2>Are you ready to start?
</br>
Press <a href="<%= takequiz_path %>">Start</a> to continue.</h2>
