<div class="container" class="clearfix" id="bckgrd3">
  <div id="chose">
<h4>You chose the <%= session[:level_preference] %> <%= session[:quiz_preference] %> quiz.</h3>
</br>
<h4>Each question is worth 5 points.
</br>
There are 20 questions in each quiz.</h3>
</br>
<h4>Are you ready to begin?
</br>
Press <a href="<%= takequiz_path %>" class="tiny.button" id="strt">start</a> to continue.</h3>
  </div>
</div>
