  <h1>You chose the </hi> + #{quiz_preference} + #{level_preference} + <h1> quiz.</h1>
    </br>
    </br>
      <h2>Each question is worth 5 points.
    </br>
      There are 20 questions in each quiz.</h2>
    </br>
    </br>
  <h2>Are you ready to start?
    </br>
    <%= form_for Start.new, :url => starts_path do |f| %>
      Press <%= f.submit "submit" %>to continue.</h2>

    <% end %>