/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation
 *= require_self
 *= require_tree .
 */
.clearfix:after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

#nss {
margin-top: 5%;
margin-left: 15%;
}

#strt {
background-color: black;
position: relative;
top:-4%;

}

#bckgrd1 {
background: url(bobdylansignJMM.jpg);
background-size:80%;
background-position:50% 38%;
background-repeat:no-repeat;
height: 900px;
}

#welcome {
position: relative;
top: 36%;
left: 31%;
}

#bckgrd2 {
background: url(DarkSideJMM.jpg);
background-size:80%;
background-position:50% 38%;
background-repeat:no-repeat;
height: 900px;
}

#choice {
color:white;
position: relative;
top: 12%;
left: 12%;
}

#choice2 {
color:white;
position: relative;
top: 13%;
left: 12%;
}


#bckgrd3 {
background: url(U2JMM.jpg);
background-size:80%;
background-position:50% 38%;
background-repeat:no-repeat;
height: 900px;
}

#chose {
position: relative;
top: 14%;
left: 33%;
}

#bckgrd4 {
background: url(BeatlesJumpJMM.jpg);
background-size:80%;
background-position:50% 38%;
background-repeat:no-repeat;
height: 900px;
}

#quest {
position: relative;
top: 9%;
left: 12%;
}

#header {
text-align: center;
position: relative;
top: -150%;
font-family:impact;
font-size: 5em;
}

.banner {
width:100%;
height:340%;
background-image:url('MQRbanner.jpg');
background-repeat:no-repeat;
margin-left: 0%;
color: black;

}

.bord {
text-align: center;
}

.quest {
position: relative;
top: 11%;
left: 15%;
}

.radiopref {
color:black;
display:inline;
font-weight: bold;
}

.moonpref {
color:white;
display:inline;
font-weight: bold;
}

.moon {
color:white;
}

#styl {
font-weight: bold;
color:black;
}

